node_modules/**
/dist/
src/aws-exports.js
.amplifyrc
.awsmobilejs
/amplify/
/build/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.idea
.github/
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

#amplify
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json